<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Security-Policy" content="script-src 'self'; object-src 'self';">
<link rel="icon" href="../static/img/bilibili.ico">
<link rel="stylesheet" type="text/css" href="../static/css/register.css">
<script src="../static/js/crypto.js"></script>
<title>哔哩哔哩弹幕视频网 - ( ゜- ゜)つロ 乾杯~ - bilibili</title>
</head>
<body>
    <header class="bili-header">
        <div class="nav-menu">
            <div class="nav-mask"></div>
            <div class="bili-wrapper clearfix">
                <div class="nav-con bui-left">
                    <ul>
                        <li class="nav-item home">
                            <i class="bili-icon"></i>
                            <a href="" class="trangla">主站</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="trangla">画友</a>
                        </li>
                        <li class="nav-item game">
                            <a href="" class="trangla">游戏中心</a>
                            <div class="game-outer-box">
                                <div class="game-box clearfix">
                                    <div class="left">
                                        <div class="banner">
                                            <a href="">
                                                <img src="../static/img/game.jpg">
                                                <span>命运-冠位指定（Fate/GO）</span>
                                            </a>
                                        </div>
                                        <div class="brief clearfix">
                                            <a href="">
                                                <img src="../static/img/game1.png">
                                                <span>碧蓝航线</span>
                                            </a>
                                            <a href="">
                                                <img src="../static/img/game2.jpg">
                                                <span>神代梦华</span>
                                            </a>
                                            <a href="">
                                                <img src="../static/img/game3.jpg">
                                                <span>止战之殇</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <div class="all">
                                            <a href="">
                                                <span>艾彼（Abi）</span>
                                            </a>
                                            <a href="">
                                                <span>RWBY</span>
                                            </a>
                                            <a href="">
                                                <span>BanG Dream！</span>
                                            </a>
                                            <a href="">
                                                <span>Violet Garden</span>
                                            </a>
                                            <a href="">
                                                <span>无法触碰的掌心！</span>
                                            </a>
                                            <a href="">
                                                <span>Temple Run</span>
                                            </a>
                                            <a href="">
                                                <span>电击文库:零境交错</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img-box"></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item live">
                            <a href="" class="trangla">直播</a>
                            <div class="live-outer-box clearfix">
                                <div class="live-box">
                                    <div class="live-left">
                                        <p class="title">热门直播：</p>
                                        <div class="left-list">
                                            <a href="" class="left-item">
                                                <img src="../static/img/live1.jpg">
                                                <i>LIVE</i>
                                                <p>Mashics</p>
                                            </a>
                                            <a href="" class="left-item">
                                                <img src="../static/img/live1.jpg">
                                                <i>LIVE</i>
                                                <p>Mashics</p>
                                            </a>
                                            <a href="" class="left-item">
                                                <img src="../static/img/live1.jpg">
                                                <i>LIVE</i>
                                                <p>Mashics</p>
                                            </a>
                                            <a href="" class="left-item">
                                                <img src="../static/img/live1.jpg">
                                                <i>LIVE</i>
                                                <p>Mashics</p>
                                            </a>
                                            <a href="" class="left-item">
                                                <img src="../static/img/live1.jpg">
                                                <i>LIVE</i>
                                                <p>Mashics</p>
                                            </a>
                                            <a href="" class="left-item">
                                                <img src="../static/img/live1.jpg">
                                                <i>LIVE</i>
                                                <p>Mashics</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="live-right">
                                        <p class="title" style="padding-left:20px;">热门活动：</p>
                                        <div class="banner">
                                            <a href="">
                                                <img src="../static/img/live2.jpg">
                                            </a>
                                            <a href="">
                                                <img src="../static/img/live2.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="" class="trangla">会员购</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="trangla">周边</a>
                        </li>
                        <li class="nav-item mobile">
                            <a href="" class="trangla">移动端</a>
                            <div class="mobile-box"></div>
                        </li>
                    </ul>
                </div>
                <div class="up-load bui-right">
                    <a href="" class="u-link">投 稿</a>
                    <ul class="up-nav">
                        <li>
                            <a href="">
                                <i class="bili-icon react i-art"></i>
                                <span>专栏投稿</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="bili-icon react i-ap"></i>
                                <span>音频投稿</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="bili-icon react i-vp"></i>
                                <span>视频投稿</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="bili-icon react i-vm"></i>
                                <span>投稿管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="bili-icon react i-vc"></i>
                                <span>创作中心</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div>
        <div class="top-banner">
            <img src="../static/img/bilibg.png">
        </div>
        <div class="title-line">
            <span class="tit">注册</span>
        </div>
        <div class="register-container">
            <form method="post" onsubmit="return false;">
                <div class="new_phone center_div">
                    <input type="text" placeholder="昵称（例：哔哩哔哩）" class="user_id_password user-input">
                    <p class="yzm_x user-warn"></p>
                </div>
                <div class="register-hidden-group">
                    <div class="safe_window">
                        <p>安全系数</p>
                        <div class="a_pw">
                            <div class="safe_line lv1 active"></div>
                            <div class="safe_line lv2"></div>
                            <div class="safe_line lv3"></div>
                            <div class="safe_line lv4"></div>
                            <div class="safe_line lv5"></div>
                            <span>弱</span>
                        </div>
                    </div>
                </div>
                <div class="center_div">
                    <input type="password" placeholder="密码（6-16个字符组成，区分大小写）" class="user_id_password psw-input">
                    <p class="yzm_x psw-warn"></p>
                </div>
                <div class="new_phone center_div">
                    <select name="country_code">
                        <option value="1">中国大陆</option>
                        <option value="2">香港特别行政区</option>
                        <option value="3">澳门特别行政区</option>
                        <option value="4">台湾地区</option>
                        <option value="5">美国</option>
                        <option value="6">加拿大</option>
                        <option value="7">比利时</option>
                        <option value="8">法国</option>
                        <option value="9">新加坡</option>
                        <option value="10">俄罗斯</option>
                    </select>
                    <input type="text" id="new_phone" placeholder="常用手机号">
                    <p class="yzm_x phone-warn"></p>
                </div>
                <div class="register-hidden-group text-right">
                    <a href="">用邮箱注册</a>
                </div>
                <div class="center_div yzm ">
                    <input type="text" id="yzm">
                    <div class="check"></div>
                    <a class="yzm_bottom">点击获取</a>
                    <p class="yzm_x ver-warn"></p>
                </div>
                <div class="register-hidden-group">
                    <div class="center_div pc-register-descript">
                        <label>
                            <input type="checkbox" class="m-r-10" id="agree">
                            我已同意
                            <a href="">《哔哩哔哩弹幕网用户使用协议》</a>
                            和
                            <a href="">《哔哩哔哩弹幕网账号中心规范》</a>
                        </label>
                    </div>
                </div>
                <input type="button" value="注册" class="next_step center_div disabled">
                <div class="register-hidden-group text-right">
                    <a href="">已有账号，直接登录></a>
                </div>
            </form>
        </div>
    </div>
    <footer class="bili-footer">
        <div class="footer-wrp">
            <div class="footer-cnt clearfix">
                <ul class="boston-postcards">
                    <li>
                        <div class="tips">bilibili</div>
                        <div class="cards">
                            <a href="">关于我们</a>
                        </div>
                        <div class="cards">
                            <a href="">友情链接</a>
                        </div>
                        <div class="cards">
                            <a href="">哔哩哔哩周边</a>
                        </div>
                        <div class="cards">
                            <a href="">About us</a>
                        </div>
                        <div class="cards">
                            <a href="">加入我们</a>
                        </div>
                        <div class="cards">
                            <a href="">官方认证</a>
                        </div>
                        <div class="cards">
                            <a href="">联系我们</a>
                        </div>
                    </li>
                    <li>
                        <div class="tips">传送门</div>
                        <div class="cards">
                            <a href="">帮助中心</a>
                        </div>
                        <div class="cards">
                            <a href="">高级弹幕</a>
                        </div>
                        <div class="cards">
                            <a href="">活动专题页</a>
                        </div>
                        <div class="cards">
                            <a href="">侵权申诉</a>
                        </div>
                        <div class="cards">
                            <a href="">分院帽计划</a>
                        </div>
                        <div class="cards">
                            <a href="">活动中心</a>
                        </div>
                        <div class="cards">
                            <a href="">用户反馈论坛</a>
                        </div>
                        <div class="cards">
                            <a href="">壁纸站</a>
                        </div>
                        <div class="cards">
                            <a href="">名人堂</a>
                        </div>
                    </li>
                    <li>
                        <div class="block right">
                            <a href="">
                                <div class="phone">
                                    <div class="pic"></div>
                                    <em>手机端下载</em>
                                    <div class="qrcode-box-wrp">
                                        <div class="qrcode-box qrcode-app">
                                            <div class="qrcode-box-arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="weibo">
                                    <div class="pic"></div>
                                    <em>新浪微博</em>
                                    <div class="qrcode-box-wrp">
                                        <div class="qrcode-box qrcode-app">
                                            <div class="qrcode-box-arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="weixin">
                                    <div class="pic"></div>
                                    <em>官方微信</em>
                                    <div class="qrcode-box-wrp">
                                        <div class="qrcode-box qrcode-app">
                                            <div class="qrcode-box-arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
<script src="../static/js/common.js"></script>
<script src="../static/js/register.js"></script>
</html>