<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Security-Policy" content="script-src 'self'; object-src 'self';">
<link rel="icon" href="../static/img/bilibili.ico">
<link rel="stylesheet" type="text/css" href="../static/css/search.css">
<script src="../static/js/crypto.js"></script>
<title>哔哩哔哩弹幕视频网 - ( ゜- ゜)つロ 乾杯~ - bilibili</title>
</head>
<body>
    <header class="bili-header">
        <div class="nav-menu">
            <div class="nav-mask"></div>
            <div class="bili-wrapper clearfix">
                <div class="nav-con bui-left">
                    <ul>
                        <li class="nav-item home">
                            <i class="bili-icon"></i>
                            <a href="/" class="trangla">主站</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="trangla">画友</a>
                        </li>
                        <li class="nav-item game">
                            <a href="" class="trangla">游戏中心</a>
                            <div class="game-outer-box">
                                <div class="game-box clearfix">
                                    <div class="left">
                                        <div class="banner">
                                            <a href="">
                                                <img src="../static/img/game.jpg">
                                                <span>命运-冠位指定（Fate/GO）</span>
                                            </a>
                                        </div>
                                        <div class="brief clearfix">
                                            <a href="">
                                                <img src="../static/img/game1.png">
                                                <span>碧蓝航线</span>
                                            </a>
                                            <a href="">
                                                <img src="../static/img/game2.jpg">
                                                <span>神代梦华</span>
                                            </a>
                                            <a href="">
                                                <img src="../static/img/game3.jpg">
                                                <span>止战之殇</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <div class="all">
                                            <a href="">
                                                <span>艾彼（Abi）</span>
                                            </a>
                                            <a href="">
                                                <span>RWBY</span>
                                            </a>
                                            <a href="">
                                                <span>BanG Dream！</span>
                                            </a>
                                            <a href="">
                                                <span>Violet Garden</span>
                                            </a>
                                            <a href="">
                                                <span>无法触碰的掌心！</span>
                                            </a>
                                            <a href="">
                                                <span>Temple Run</span>
                                            </a>
                                            <a href="">
                                                <span>电击文库:零境交错</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img-box"></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item live">
                            <a href="" class="trangla">直播</a>
                            <div class="live-outer-box clearfix">
                                <div class="live-box">
                                    <div class="live-left">
                                        <p class="title">热门直播：</p>
                                        <div class="left-list">
                                            <a href="" class="left-item">
                                                <img src="../static/img/live1.jpg">
                                                <i>LIVE</i>
                                                <p>Mashics</p>
                                            </a>
                                            <a href="" class="left-item">
                                                <img src="../static/img/live1.jpg">
                                                <i>LIVE</i>
                                                <p>Mashics</p>
                                            </a>
                                            <a href="" class="left-item">
                                                <img src="../static/img/live1.jpg">
                                                <i>LIVE</i>
                                                <p>Mashics</p>
                                            </a>
                                            <a href="" class="left-item">
                                                <img src="../static/img/live1.jpg">
                                                <i>LIVE</i>
                                                <p>Mashics</p>
                                            </a>
                                            <a href="" class="left-item">
                                                <img src="../static/img/live1.jpg">
                                                <i>LIVE</i>
                                                <p>Mashics</p>
                                            </a>
                                            <a href="" class="left-item">
                                                <img src="../static/img/live1.jpg">
                                                <i>LIVE</i>
                                                <p>Mashics</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="live-right">
                                        <p class="title" style="padding-left:20px;">热门活动：</p>
                                        <div class="banner">
                                            <a href="">
                                                <img src="../static/img/live2.jpg">
                                            </a>
                                            <a href="">
                                                <img src="../static/img/live2.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="" class="trangla">会员购</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="trangla">周边</a>
                        </li>
                        <li class="nav-item mobile">
                            <a href="" class="trangla">移动端</a>
                            <div class="mobile-box"></div>
                        </li>
                    </ul>
                </div>
                <div class="up-load bui-right">
                    <a href="" class="u-link">投 稿</a>
                    <ul class="up-nav">
                        <li>
                            <a href="">
                                <i class="bili-icon react i-art"></i>
                                <span>专栏投稿</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="bili-icon react i-ap"></i>
                                <span>音频投稿</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="bili-icon react i-vp"></i>
                                <span>视频投稿</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="bili-icon react i-vm"></i>
                                <span>投稿管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="bili-icon react i-vc"></i>
                                <span>创作中心</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="contain">
        <div class="head-contain">
            <div class="search-wrap">
                <div class="logo-input clearfix">
                    <a class="search-logo"></a>
                    <div class="search-block">
                        <div class="input-wrap">
                            <input type="text">
                            <div class="suggest-wrap">
                                <ul class="keyword-wrap">
                                    <li>
                                        <a class="vt-text keyword">
                                            <em class="high-light"></em>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="search-button">
                            <i class="icon-search-white"></i>
                            <span class="search-text">搜索</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-wrap">
                <ul class="wrap clearfix">
                    <li class="sub active">
                        综合
                        <span></span>
                    </li>
                    <li class="sub">
                        视频
                        <span>94</span>
                    </li>
                    <li class="sub">
                        影视
                        <span>0</span>
                    </li>
                    <li class="sub">
                        直播
                        <span>2</span>
                    </li>
                    <li class="sub">
                        专栏
                        <span>27</span>
                    </li>
                    <li class="sub">
                        专题
                        <span>0</span>
                    </li>
                    <li class="sub">
                        话题
                        <span>1</span>
                    </li>
                    <li class="sub">
                        用户
                        <span>2</span>
                    </li>
                    <li class="sub">
                        相簿
                        <span>3</span>
                    </li>
                    <li class="sub">
                        视频
                        <span>94</span>
                    </li>
                </ul>
                <div class="hover-bar"></div>
            </div>
        </div>
        <div class="body-contain">
            <div class="filter-wrap no-border">
                <ul class="filter-type clearfix order">
                    <li class="filter-item active">
                        <a>综合排序</a>
                    </li>
                    <li class="filter-item">
                        <a>最多点击</a>
                    </li>
                    <li class="filter-item">
                        <a>最新发布</a>
                    </li>
                    <li class="filter-item">
                        <a>最多弹幕</a>
                    </li>
                    <li class="filter-item">
                        <a>最多收藏</a>
                    </li>
                    <li class="filter-item">
                        <a>更多筛选</a>
                        <i class="arrow-down"></i>
                    </li>
                </ul>
            </div>
            <div class="result-wrap clearfix">
                <ul class="video-contain clearfix">
                    <!-- <li class="video matrix">
                        <a>
                            <div class="img">
                                <div class="lazy-img">
                                    <img src="../static/img/content.jpg">
                                </div>
                                <span class="current">04:24</span>
                                <div class="watch-later"></div>
                            </div>
                            <div class="info">
                                <div class="headline clearfix">
                                    <a class="title">【五五开】朋友</a>
                                </div>
                                <div class="tags">
                                    <span class="so-icon watch-num">
                                        <i class="icon-playtime"></i>
                                        331.0万
                                    </span>
                                    <span class="so-icon time">
                                        <i class="icon-date"></i>
                                        2017-12-12
                                    </span>
                                    <span class="so-icon up">
                                        <i class="icon-uper"></i>
                                        <a class="up-name">浅橙月</a>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="recom-wrap">
                <div class="no-result recom none"></div>
            </div>
            <div class="page-wrap">
                <div class="pager">
                    <div class="paging-box-big"></div>
                </div>
            </div>
        </div>
        <div class="rocket-con"></div>
    </div>
    <footer class="bili-footer">
        <div class="footer-wrp">
            <div class="footer-cnt clearfix">
                <ul class="boston-postcards">
                    <li>
                        <div class="tips">bilibili</div>
                        <div class="cards">
                            <a href="">关于我们</a>
                        </div>
                        <div class="cards">
                            <a href="">友情链接</a>
                        </div>
                        <div class="cards">
                            <a href="">哔哩哔哩周边</a>
                        </div>
                        <div class="cards">
                            <a href="">About us</a>
                        </div>
                        <div class="cards">
                            <a href="">加入我们</a>
                        </div>
                        <div class="cards">
                            <a href="">官方认证</a>
                        </div>
                        <div class="cards">
                            <a href="">联系我们</a>
                        </div>
                    </li>
                    <li>
                        <div class="tips">传送门</div>
                        <div class="cards">
                            <a href="">帮助中心</a>
                        </div>
                        <div class="cards">
                            <a href="">高级弹幕</a>
                        </div>
                        <div class="cards">
                            <a href="">活动专题页</a>
                        </div>
                        <div class="cards">
                            <a href="">侵权申诉</a>
                        </div>
                        <div class="cards">
                            <a href="">分院帽计划</a>
                        </div>
                        <div class="cards">
                            <a href="">活动中心</a>
                        </div>
                        <div class="cards">
                            <a href="">用户反馈论坛</a>
                        </div>
                        <div class="cards">
                            <a href="">壁纸站</a>
                        </div>
                        <div class="cards">
                            <a href="">名人堂</a>
                        </div>
                    </li>
                    <li>
                        <div class="block right">
                            <a href="">
                                <div class="phone">
                                    <div class="pic"></div>
                                    <em>手机端下载</em>
                                    <div class="qrcode-box-wrp">
                                        <div class="qrcode-box qrcode-app">
                                            <div class="qrcode-box-arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="weibo">
                                    <div class="pic"></div>
                                    <em>新浪微博</em>
                                    <div class="qrcode-box-wrp">
                                        <div class="qrcode-box qrcode-app">
                                            <div class="qrcode-box-arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="weixin">
                                    <div class="pic"></div>
                                    <em>官方微信</em>
                                    <div class="qrcode-box-wrp">
                                        <div class="qrcode-box qrcode-app">
                                            <div class="qrcode-box-arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
<script src="../static/js/common.js"></script>
<script src="../static/js/search.js"></script>
</html>